---
export const prerender = false;

interface Task {
  id: string;
  name: string;
  description: string;
  status: string;
}

const PUBLIC_ROADMAP_ENDPOINT = "https://board-414-play-563-abroad-64-hat.hook.membrane.io";
const tasks: Task[] = await fetch(PUBLIC_ROADMAP_ENDPOINT).then(res => res.json());

import { Badge } from '@astrojs/starlight/components';
import { type BadgeComponentProps } from 'node_modules/@astrojs/starlight/schemas/badge';
---

<ul class="list">
  {tasks.map(({ id, name, description, status }) => {
    let variant: BadgeComponentProps["variant"] = 'tip';
    if (status === 'in-progress') variant = 'caution';
    if (status === 'done') variant = 'success';
    
    return (<li id={id}>
      <article class="row">
        <Badge text={status} variant={variant} class="badge" />
        <p class="title"><strong>{name}</strong></p>
        <pre class="description">{description}</pre>
      </article>
    </li>)
})}
</ul>

<style>
  .list {
    padding: 0;
  }
  
  .list li {
    list-style: none;
  }
  
  .row {
    position: relative;
    padding: 16px;
    padding-right: 124px;
    border: 1px solid #eaeaea;
    margin-bottom: 16px;
  }

  .badge {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .title {
    text-wrap: balance;
  }

  .row > .description {
    border: none;
    padding: 0;
    white-space: pre-wrap;
  }
</style>